body{
    margin:0;
    padding:0;
    background-color: #fbeee0;
}
#myvideo{
    width: 100%;
   
}
.heading{
display: flex;
justify-content: center;
}

h1{
font-family: 'Montserrat', sans-serif;
font-size: 60px;
color: #d55b3d;
}
.images-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heading-h2{
    font-family: 'Montserrat', sans-serif;
font-size: 40px;
color: #d55b3d;
}

.images-section2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.im2{
    padding: 10px;
}

/* our specials section */


.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #ffbdb0;
    width: 350px;
    height: 580px;
    margin: 20px;
}

ul{
    
    background-color: #fbede0;
    font-size: 16px;
    border-radius: 5px;
   /*    хз как сделать чутка светлее-прозрачнеее фоточку */
    /* opacity: 30%; */
    color:#7c7575;
    margin-left: 10px;
    margin-right: 10px;
}
.item-name{
    display: flex;
    align-self: center;
    color: #d55b3d;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

del{
    font-size: 20px;
    color: #52616b;
text-decoration: line-through;
padding: 10px;
font-family: 'Montserrat', sans-serif;
}
.noline{
    font-size: 20px;
    color: #52616b;
    text-decoration: none;
}

ins{
display: inline-block;
padding: 10px;
text-decoration: none;
transform: rotate(-10deg);
font-size: 20px;
color: #52616b;
font-family: 'Montserrat', sans-serif;
}
.team{
    display: flex;
    justify-content: center;
   
}


@media all and (max-width: 800px){
wrapper{ display: flex;
flex-direction: column;
align-items: center;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images-section{
margin-trim: 1;
}
img{
    width: 90%;
}
.heading-h2, .heading {
    font-size: 15px;
}


}